<h1>Listing all individuals</h1>
<p align='right'>  <%= link_to 'Create another entry', new_family_datum_path %></p>

    <%= render( :partial => "shared/nav_line", :object => "index"  ) %>
    <%= render( :partial => "shared/family_data_list" ) %>
    <%= render( :partial => "shared/nav_line", :object => "index"  ) %>

<p align='right'><%= link_to 'Create another entry for an individual', new_family_datum_path %></p>
